BestBuy-Dataflow/bestbuy-dataflow-part5.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description></description>
    <groupId>e8b4b83e-0175-1000-a0c0-ea3263472c59</groupId>
    <name>bestbuy-dataflow-part5</name>
    <snippet>
        <controllerServices>
            <id>56e1f9d1-a937-32c9-0000-000000000000</id>
            <parentGroupId>568ac674-7b5f-350c-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-record-serialization-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.12.1</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>Schema Write Strategy</key>
                    <value>
                        <name>Schema Write Strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-cache</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
                        <name>schema-cache</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-protocol-version</key>
                    <value>
                        <name>schema-protocol-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>
                        <name>schema-access-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                        <name>schema-registry</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>
                        <name>schema-name</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-version</key>
                    <value>
                        <name>schema-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-branch</key>
                    <value>
                        <name>schema-branch</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>
                        <name>schema-text</name>
                    </value>
                </entry>
                <entry>
                    <key>Date Format</key>
                    <value>
                        <name>Date Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Time Format</key>
                    <value>
                        <name>Time Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                    <value>
                        <name>Timestamp Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Pretty Print JSON</key>
                    <value>
                        <name>Pretty Print JSON</name>
                    </value>
                </entry>
                <entry>
                    <key>suppress-nulls</key>
                    <value>
                        <name>suppress-nulls</name>
                    </value>
                </entry>
                <entry>
                    <key>output-grouping</key>
                    <value>
                        <name>output-grouping</name>
                    </value>
                </entry>
                <entry>
                    <key>compression-format</key>
                    <value>
                        <name>compression-format</name>
                    </value>
                </entry>
                <entry>
                    <key>compression-level</key>
                    <value>
                        <name>compression-level</name>
                    </value>
                </entry>
            </descriptors>
            <name>JsonRecordSetWriterBASIC</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>Schema Write Strategy</key>
                    <value>no-schema</value>
                </entry>
                <entry>
                    <key>schema-cache</key>
                </entry>
                <entry>
                    <key>schema-protocol-version</key>
                    <value>1</value>
                </entry>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>inherit-record-schema</value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>${schema.name}</value>
                </entry>
                <entry>
                    <key>schema-version</key>
                </entry>
                <entry>
                    <key>schema-branch</key>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>${avro.schema}</value>
                </entry>
                <entry>
                    <key>Date Format</key>
                </entry>
                <entry>
                    <key>Time Format</key>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                </entry>
                <entry>
                    <key>Pretty Print JSON</key>
                    <value>false</value>
                </entry>
                <entry>
                    <key>suppress-nulls</key>
                    <value>never-suppress</value>
                </entry>
                <entry>
                    <key>output-grouping</key>
                    <value>output-oneline</value>
                </entry>
                <entry>
                    <key>compression-format</key>
                    <value>none</value>
                </entry>
                <entry>
                    <key>compression-level</key>
                    <value>1</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.json.JsonRecordSetWriter</type>
        </controllerServices>
        <controllerServices>
            <id>c1aab93f-aeb2-33fe-0000-000000000000</id>
            <parentGroupId>568ac674-7b5f-350c-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-dbcp-service-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.12.1</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>Database Connection URL</key>
                    <value>
                        <name>Database Connection URL</name>
                    </value>
                </entry>
                <entry>
                    <key>Database Driver Class Name</key>
                    <value>
                        <name>Database Driver Class Name</name>
                    </value>
                </entry>
                <entry>
                    <key>database-driver-locations</key>
                    <value>
                        <name>database-driver-locations</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-credentials-service</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
                        <name>kerberos-credentials-service</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-principal</key>
                    <value>
                        <name>kerberos-principal</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-password</key>
                    <value>
                        <name>kerberos-password</name>
                    </value>
                </entry>
                <entry>
                    <key>Database User</key>
                    <value>
                        <name>Database User</name>
                    </value>
                </entry>
                <entry>
                    <key>Password</key>
                    <value>
                        <name>Password</name>
                    </value>
                </entry>
                <entry>
                    <key>Max Wait Time</key>
                    <value>
                        <name>Max Wait Time</name>
                    </value>
                </entry>
                <entry>
                    <key>Max Total Connections</key>
                    <value>
                        <name>Max Total Connections</name>
                    </value>
                </entry>
                <entry>
                    <key>Validation-query</key>
                    <value>
                        <name>Validation-query</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-min-idle-conns</key>
                    <value>
                        <name>dbcp-min-idle-conns</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-max-idle-conns</key>
                    <value>
                        <name>dbcp-max-idle-conns</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-max-conn-lifetime</key>
                    <value>
                        <name>dbcp-max-conn-lifetime</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-time-between-eviction-runs</key>
                    <value>
                        <name>dbcp-time-between-eviction-runs</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-min-evictable-idle-time</key>
                    <value>
                        <name>dbcp-min-evictable-idle-time</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-soft-min-evictable-idle-time</key>
                    <value>
                        <name>dbcp-soft-min-evictable-idle-time</name>
                    </value>
                </entry>
            </descriptors>
            <name>mySql Server</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>Database Connection URL</key>
                    <value>jdbc:mysql://50.224.35.38:6974</value>
                </entry>
                <entry>
                    <key>Database Driver Class Name</key>
                    <value>com.mysql.cj.jdbc.Driver</value>
                </entry>
                <entry>
                    <key>database-driver-locations</key>
                    <value>/opt/nifi/nifi-current/drivers</value>
                </entry>
                <entry>
                    <key>kerberos-credentials-service</key>
                </entry>
                <entry>
                    <key>kerberos-principal</key>
                </entry>
                <entry>
                    <key>kerberos-password</key>
                </entry>
                <entry>
                    <key>Database User</key>
                    <value>nifiUser</value>
                </entry>
                <entry>
                    <key>Password</key>
                </entry>
                <entry>
                    <key>Max Wait Time</key>
                    <value>500 millis</value>
                </entry>
                <entry>
                    <key>Max Total Connections</key>
                    <value>8</value>
                </entry>
                <entry>
                    <key>Validation-query</key>
                </entry>
                <entry>
                    <key>dbcp-min-idle-conns</key>
                    <value>0</value>
                </entry>
                <entry>
                    <key>dbcp-max-idle-conns</key>
                    <value>8</value>
                </entry>
                <entry>
                    <key>dbcp-max-conn-lifetime</key>
                    <value>-1</value>
                </entry>
                <entry>
                    <key>dbcp-time-between-eviction-runs</key>
                    <value>-1</value>
                </entry>
                <entry>
                    <key>dbcp-min-evictable-idle-time</key>
                    <value>30 mins</value>
                </entry>
                <entry>
                    <key>dbcp-soft-min-evictable-idle-time</key>
                    <value>-1</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.dbcp.DBCPConnectionPool</type>
        </controllerServices>
        <processGroups>
            <id>ca09181d-d124-3bcb-0000-000000000000</id>
            <parentGroupId>568ac674-7b5f-350c-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <comments></comments>
            <contents>
                <processGroups>
                    <id>934c8b56-3152-3f3a-0000-000000000000</id>
                    <parentGroupId>ca09181d-d124-3bcb-0000-000000000000</parentGroupId>
                    <position>
                        <x>-888.0</x>
                        <y>336.0</y>
                    </position>
                    <comments></comments>
                    <contents>
                        <connections>
                            <id>0b29ac68-bb09-3d1d-0000-000000000000</id>
                            <parentGroupId>934c8b56-3152-3f3a-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <bends>
<x>-1256.0</x>
<y>432.0</y>
                            </bends>
                            <destination>
<groupId>934c8b56-3152-3f3a-0000-000000000000</groupId>
<id>fc21e78a-9c6e-380d-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>0</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>matched</selectedRelationships>
                            <source>
<groupId>934c8b56-3152-3f3a-0000-000000000000</groupId>
<id>9cb221d6-749e-3ced-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>11d864aa-e2d5-3035-0000-000000000000</id>
                            <parentGroupId>934c8b56-3152-3f3a-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <bends>
<x>-1256.9720237372155</x>
<y>924.9675442567165</y>
                            </bends>
                            <destination>
<groupId>934c8b56-3152-3f3a-0000-000000000000</groupId>
<id>23e773f8-a74e-37e1-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>Response</selectedRelationships>
                            <source>
<groupId>934c8b56-3152-3f3a-0000-000000000000</groupId>
<id>fc21e78a-9c6e-380d-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>1816345d-4b40-36b7-0000-000000000000</id>
                            <parentGroupId>934c8b56-3152-3f3a-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <bends>
<x>-224.97202373721552</x>
<y>860.9675442567165</y>
                            </bends>
                            <destination>
<groupId>934c8b56-3152-3f3a-0000-000000000000</groupId>
<id>fc21e78a-9c6e-380d-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>934c8b56-3152-3f3a-0000-000000000000</groupId>
<id>5362d5c5-68b5-38a6-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>4bac0b95-91d3-3a97-0000-000000000000</id>
                            <parentGroupId>934c8b56-3152-3f3a-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <bends>
<x>-1256.0</x>
<y>296.0</y>
                            </bends>
                            <destination>
<groupId>934c8b56-3152-3f3a-0000-000000000000</groupId>
<id>9cb221d6-749e-3ced-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>0</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>934c8b56-3152-3f3a-0000-000000000000</groupId>
<id>7317ad07-341f-3f3d-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>931d094e-8ee1-3a34-0000-000000000000</id>
                            <parentGroupId>934c8b56-3152-3f3a-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <bends>
<x>-1256.9720237372155</x>
<y>1060.9675442567163</y>
                            </bends>
                            <destination>
<groupId>934c8b56-3152-3f3a-0000-000000000000</groupId>
<id>fc1c767f-9a82-3c30-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>matched</selectedRelationships>
                            <source>
<groupId>934c8b56-3152-3f3a-0000-000000000000</groupId>
<id>23e773f8-a74e-37e1-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>eb78df0b-af78-38a9-0000-000000000000</id>
                            <parentGroupId>934c8b56-3152-3f3a-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>934c8b56-3152-3f3a-0000-000000000000</groupId>
<id>5362d5c5-68b5-38a6-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>unmatched</selectedRelationships>
                            <source>
<groupId>934c8b56-3152-3f3a-0000-000000000000</groupId>
<id>fc1c767f-9a82-3c30-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <labels>
                            <id>a78f3aca-68be-32db-0000-000000000000</id>
                            <parentGroupId>934c8b56-3152-3f3a-0000-000000000000</parentGroupId>
                            <position>
<x>-670.4636619208093</x>
<y>340.5726099143277</y>
                            </position>
                            <height>152.0</height>
                            <label>https://api.bestbuy.com/v1/products(categoryPath.id=abcat0101001)?
apiKey=myApiKey
&amp;sort=sku.asc
&amp;show=sku,name,modelNumber,manufacturer,regularPrice,salePrice,onlineAvailability,inStoreAvailability,customerReviewCount,customerReviewAverage
&amp;pageSize=100
&amp;format=json</label>
                            <style>
<entry>
    <key>font-size</key>
    <value>12px</value>
</entry>
                            </style>
                            <width>864.0</width>
                        </labels>
                        <processors>
                            <id>23e773f8-a74e-37e1-0000-000000000000</id>
                            <parentGroupId>934c8b56-3152-3f3a-0000-000000000000</parentGroupId>
                            <position>
<x>-1128.0</x>
<y>936.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.12.1</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Destination</key>
        <value>
            <name>Destination</name>
        </value>
    </entry>
    <entry>
        <key>Return Type</key>
        <value>
            <name>Return Type</name>
        </value>
    </entry>
    <entry>
        <key>Path Not Found Behavior</key>
        <value>
            <name>Path Not Found Behavior</name>
        </value>
    </entry>
    <entry>
        <key>Null Value Representation</key>
        <value>
            <name>Null Value Representation</name>
        </value>
    </entry>
    <entry>
        <key>currentPage</key>
        <value>
            <name>currentPage</name>
        </value>
    </entry>
    <entry>
        <key>totalPages</key>
        <value>
            <name>totalPages</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Destination</key>
        <value>flowfile-attribute</value>
    </entry>
    <entry>
        <key>Return Type</key>
        <value>auto-detect</value>
    </entry>
    <entry>
        <key>Path Not Found Behavior</key>
        <value>ignore</value>
    </entry>
    <entry>
        <key>Null Value Representation</key>
        <value>empty string</value>
    </entry>
    <entry>
        <key>currentPage</key>
        <value>$.currentPage</value>
    </entry>
    <entry>
        <key>totalPages</key>
        <value>$.totalPages</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>createCurrentPageAndTotalPageAttributes</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>matched</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>unmatched</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
                        </processors>
                        <processors>
                            <id>5362d5c5-68b5-38a6-0000-000000000000</id>
                            <parentGroupId>934c8b56-3152-3f3a-0000-000000000000</parentGroupId>
                            <position>
<x>-400.0</x>
<y>1072.0</y>
                            </position>
                            <bundle>
<artifact>nifi-update-attribute-nar</artifact>
<group>org.apache.nifi</group>
<version>1.12.1</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Delete Attributes Expression</key>
        <value>
            <name>Delete Attributes Expression</name>
        </value>
    </entry>
    <entry>
        <key>Store State</key>
        <value>
            <name>Store State</name>
        </value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
        <value>
            <name>Stateful Variables Initial Value</name>
        </value>
    </entry>
    <entry>
        <key>canonical-value-lookup-cache-size</key>
        <value>
            <name>canonical-value-lookup-cache-size</name>
        </value>
    </entry>
    <entry>
        <key>currentPage</key>
        <value>
            <name>currentPage</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Delete Attributes Expression</key>
    </entry>
    <entry>
        <key>Store State</key>
        <value>Do not store state</value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
    </entry>
    <entry>
        <key>canonical-value-lookup-cache-size</key>
        <value>100</value>
    </entry>
    <entry>
        <key>currentPage</key>
        <value>${currentPage:plus(1)}</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>plusOneToCurrentPage</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                        </processors>
                        <processors>
                            <id>7317ad07-341f-3f3d-0000-000000000000</id>
                            <parentGroupId>934c8b56-3152-3f3a-0000-000000000000</parentGroupId>
                            <position>
<x>-1130.4636619208093</x>
<y>171.57260991432767</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.12.1</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Database Connection Pooling Service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
            <name>Database Connection Pooling Service</name>
        </value>
    </entry>
    <entry>
        <key>sql-pre-query</key>
        <value>
            <name>sql-pre-query</name>
        </value>
    </entry>
    <entry>
        <key>SQL select query</key>
        <value>
            <name>SQL select query</name>
        </value>
    </entry>
    <entry>
        <key>sql-post-query</key>
        <value>
            <name>sql-post-query</name>
        </value>
    </entry>
    <entry>
        <key>Max Wait Time</key>
        <value>
            <name>Max Wait Time</name>
        </value>
    </entry>
    <entry>
        <key>esqlrecord-record-writer</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
            <name>esqlrecord-record-writer</name>
        </value>
    </entry>
    <entry>
        <key>esqlrecord-normalize</key>
        <value>
            <name>esqlrecord-normalize</name>
        </value>
    </entry>
    <entry>
        <key>dbf-user-logical-types</key>
        <value>
            <name>dbf-user-logical-types</name>
        </value>
    </entry>
    <entry>
        <key>esql-max-rows</key>
        <value>
            <name>esql-max-rows</name>
        </value>
    </entry>
    <entry>
        <key>esql-output-batch-size</key>
        <value>
            <name>esql-output-batch-size</name>
        </value>
    </entry>
    <entry>
        <key>esql-fetch-size</key>
        <value>
            <name>esql-fetch-size</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Database Connection Pooling Service</key>
        <value>c1aab93f-aeb2-33fe-0000-000000000000</value>
    </entry>
    <entry>
        <key>sql-pre-query</key>
    </entry>
    <entry>
        <key>SQL select query</key>
        <value>select distinct
	categoriesId,
	1 as currentPage
from bestbuy.bestbuyCategories bc 
where tracking = 1</value>
    </entry>
    <entry>
        <key>sql-post-query</key>
    </entry>
    <entry>
        <key>Max Wait Time</key>
        <value>0 seconds</value>
    </entry>
    <entry>
        <key>esqlrecord-record-writer</key>
        <value>56e1f9d1-a937-32c9-0000-000000000000</value>
    </entry>
    <entry>
        <key>esqlrecord-normalize</key>
        <value>false</value>
    </entry>
    <entry>
        <key>dbf-user-logical-types</key>
        <value>false</value>
    </entry>
    <entry>
        <key>esql-max-rows</key>
        <value>1</value>
    </entry>
    <entry>
        <key>esql-output-batch-size</key>
        <value>0</value>
    </entry>
    <entry>
        <key>esql-fetch-size</key>
        <value>0</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>5 min</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>getTrackedCategories</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.ExecuteSQLRecord</type>
                        </processors>
                        <processors>
                            <id>9cb221d6-749e-3ced-0000-000000000000</id>
                            <parentGroupId>934c8b56-3152-3f3a-0000-000000000000</parentGroupId>
                            <position>
<x>-1128.0</x>
<y>304.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.12.1</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Destination</key>
        <value>
            <name>Destination</name>
        </value>
    </entry>
    <entry>
        <key>Return Type</key>
        <value>
            <name>Return Type</name>
        </value>
    </entry>
    <entry>
        <key>Path Not Found Behavior</key>
        <value>
            <name>Path Not Found Behavior</name>
        </value>
    </entry>
    <entry>
        <key>Null Value Representation</key>
        <value>
            <name>Null Value Representation</name>
        </value>
    </entry>
    <entry>
        <key>categoriesId</key>
        <value>
            <name>categoriesId</name>
        </value>
    </entry>
    <entry>
        <key>currentPage</key>
        <value>
            <name>currentPage</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Destination</key>
        <value>flowfile-attribute</value>
    </entry>
    <entry>
        <key>Return Type</key>
        <value>auto-detect</value>
    </entry>
    <entry>
        <key>Path Not Found Behavior</key>
        <value>ignore</value>
    </entry>
    <entry>
        <key>Null Value Representation</key>
        <value>empty string</value>
    </entry>
    <entry>
        <key>categoriesId</key>
        <value>$.categoriesId</value>
    </entry>
    <entry>
        <key>currentPage</key>
        <value>$.currentPage</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>EvaluateJsonPath</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>matched</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>unmatched</name>
                            </relationships>
                            <state>RUNNING</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
                        </processors>
                        <processors>
                            <id>fc1c767f-9a82-3c30-0000-000000000000</id>
                            <parentGroupId>934c8b56-3152-3f3a-0000-000000000000</parentGroupId>
                            <position>
<x>-1128.0</x>
<y>1072.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.12.1</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Routing Strategy</key>
        <value>
            <name>Routing Strategy</name>
        </value>
    </entry>
    <entry>
        <key>notLast</key>
        <value>
            <name>notLast</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Routing Strategy</key>
        <value>Route to Property name</value>
    </entry>
    <entry>
        <key>notLast</key>
        <value>${currentPage:equals(${totalPages})}</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>loopIfNotEqualToTotalPage</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>notLast</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>unmatched</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.RouteOnAttribute</type>
                        </processors>
                        <processors>
                            <id>fc21e78a-9c6e-380d-0000-000000000000</id>
                            <parentGroupId>934c8b56-3152-3f3a-0000-000000000000</parentGroupId>
                            <position>
<x>-1128.0</x>
<y>440.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.12.1</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>HTTP Method</key>
        <value>
            <name>HTTP Method</name>
        </value>
    </entry>
    <entry>
        <key>Remote URL</key>
        <value>
            <name>Remote URL</name>
        </value>
    </entry>
    <entry>
        <key>SSL Context Service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
            <name>SSL Context Service</name>
        </value>
    </entry>
    <entry>
        <key>Connection Timeout</key>
        <value>
            <name>Connection Timeout</name>
        </value>
    </entry>
    <entry>
        <key>Read Timeout</key>
        <value>
            <name>Read Timeout</name>
        </value>
    </entry>
    <entry>
        <key>idle-timeout</key>
        <value>
            <name>idle-timeout</name>
        </value>
    </entry>
    <entry>
        <key>max-idle-connections</key>
        <value>
            <name>max-idle-connections</name>
        </value>
    </entry>
    <entry>
        <key>Include Date Header</key>
        <value>
            <name>Include Date Header</name>
        </value>
    </entry>
    <entry>
        <key>Follow Redirects</key>
        <value>
            <name>Follow Redirects</name>
        </value>
    </entry>
    <entry>
        <key>Attributes to Send</key>
        <value>
            <name>Attributes to Send</name>
        </value>
    </entry>
    <entry>
        <key>Useragent</key>
        <value>
            <name>Useragent</name>
        </value>
    </entry>
    <entry>
        <key>Basic Authentication Username</key>
        <value>
            <name>Basic Authentication Username</name>
        </value>
    </entry>
    <entry>
        <key>Basic Authentication Password</key>
        <value>
            <name>Basic Authentication Password</name>
        </value>
    </entry>
    <entry>
        <key>proxy-configuration-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
            <name>proxy-configuration-service</name>
        </value>
    </entry>
    <entry>
        <key>Proxy Host</key>
        <value>
            <name>Proxy Host</name>
        </value>
    </entry>
    <entry>
        <key>Proxy Port</key>
        <value>
            <name>Proxy Port</name>
        </value>
    </entry>
    <entry>
        <key>Proxy Type</key>
        <value>
            <name>Proxy Type</name>
        </value>
    </entry>
    <entry>
        <key>invokehttp-proxy-user</key>
        <value>
            <name>invokehttp-proxy-user</name>
        </value>
    </entry>
    <entry>
        <key>invokehttp-proxy-password</key>
        <value>
            <name>invokehttp-proxy-password</name>
        </value>
    </entry>
    <entry>
        <key>Put Response Body In Attribute</key>
        <value>
            <name>Put Response Body In Attribute</name>
        </value>
    </entry>
    <entry>
        <key>Max Length To Put In Attribute</key>
        <value>
            <name>Max Length To Put In Attribute</name>
        </value>
    </entry>
    <entry>
        <key>Digest Authentication</key>
        <value>
            <name>Digest Authentication</name>
        </value>
    </entry>
    <entry>
        <key>Always Output Response</key>
        <value>
            <name>Always Output Response</name>
        </value>
    </entry>
    <entry>
        <key>Add Response Headers to Request</key>
        <value>
            <name>Add Response Headers to Request</name>
        </value>
    </entry>
    <entry>
        <key>Content-Type</key>
        <value>
            <name>Content-Type</name>
        </value>
    </entry>
    <entry>
        <key>send-message-body</key>
        <value>
            <name>send-message-body</name>
        </value>
    </entry>
    <entry>
        <key>Use Chunked Encoding</key>
        <value>
            <name>Use Chunked Encoding</name>
        </value>
    </entry>
    <entry>
        <key>Penalize on "No Retry"</key>
        <value>
            <name>Penalize on "No Retry"</name>
        </value>
    </entry>
    <entry>
        <key>use-etag</key>
        <value>
            <name>use-etag</name>
        </value>
    </entry>
    <entry>
        <key>etag-max-cache-size</key>
        <value>
            <name>etag-max-cache-size</name>
        </value>
    </entry>
    <entry>
        <key>ignore-response-content</key>
        <value>
            <name>ignore-response-content</name>
        </value>
    </entry>
    <entry>
        <key>form-body-form-name</key>
        <value>
            <name>form-body-form-name</name>
        </value>
    </entry>
    <entry>
        <key>set-form-filename</key>
        <value>
            <name>set-form-filename</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>HTTP Method</key>
        <value>GET</value>
    </entry>
    <entry>
        <key>Remote URL</key>
        <value>#{baseUrlProducts}#{format}&amp;#{apiKey}&amp;#{pageSize}&amp;show=id,name,subCategories.id,subCategories.name&amp;page=${currentPage}</value>
    </entry>
    <entry>
        <key>SSL Context Service</key>
    </entry>
    <entry>
        <key>Connection Timeout</key>
        <value>60 secs</value>
    </entry>
    <entry>
        <key>Read Timeout</key>
        <value>60 secs</value>
    </entry>
    <entry>
        <key>idle-timeout</key>
        <value>5 mins</value>
    </entry>
    <entry>
        <key>max-idle-connections</key>
        <value>5</value>
    </entry>
    <entry>
        <key>Include Date Header</key>
        <value>True</value>
    </entry>
    <entry>
        <key>Follow Redirects</key>
        <value>True</value>
    </entry>
    <entry>
        <key>Attributes to Send</key>
    </entry>
    <entry>
        <key>Useragent</key>
    </entry>
    <entry>
        <key>Basic Authentication Username</key>
    </entry>
    <entry>
        <key>Basic Authentication Password</key>
    </entry>
    <entry>
        <key>proxy-configuration-service</key>
    </entry>
    <entry>
        <key>Proxy Host</key>
    </entry>
    <entry>
        <key>Proxy Port</key>
    </entry>
    <entry>
        <key>Proxy Type</key>
        <value>http</value>
    </entry>
    <entry>
        <key>invokehttp-proxy-user</key>
    </entry>
    <entry>
        <key>invokehttp-proxy-password</key>
    </entry>
    <entry>
        <key>Put Response Body In Attribute</key>
    </entry>
    <entry>
        <key>Max Length To Put In Attribute</key>
        <value>256</value>
    </entry>
    <entry>
        <key>Digest Authentication</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Always Output Response</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Add Response Headers to Request</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Content-Type</key>
        <value>${mime.type}</value>
    </entry>
    <entry>
        <key>send-message-body</key>
        <value>true</value>
    </entry>
    <entry>
        <key>Use Chunked Encoding</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Penalize on "No Retry"</key>
        <value>false</value>
    </entry>
    <entry>
        <key>use-etag</key>
        <value>false</value>
    </entry>
    <entry>
        <key>etag-max-cache-size</key>
        <value>10MB</value>
    </entry>
    <entry>
        <key>ignore-response-content</key>
        <value>false</value>
    </entry>
    <entry>
        <key>form-body-form-name</key>
    </entry>
    <entry>
        <key>set-form-filename</key>
        <value>true</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>1 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>invokeCategoriesApi</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>Failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>No Retry</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>Original</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>Response</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>Retry</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.InvokeHTTP</type>
                        </processors>
                    </contents>
                    <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
                    <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
                    <name>Products</name>
                    <variables/>
                </processGroups>
                <processGroups>
                    <id>e447ab16-c235-3ae0-0000-000000000000</id>
                    <parentGroupId>ca09181d-d124-3bcb-0000-000000000000</parentGroupId>
                    <position>
                        <x>-888.0</x>
                        <y>144.0</y>
                    </position>
                    <comments></comments>
                    <contents>
                        <connections>
                            <id>01e485cc-80c9-3abb-0000-000000000000</id>
                            <parentGroupId>e447ab16-c235-3ae0-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <bends>
<x>-1979.433473911087</x>
<y>543.0275852077887</y>
                            </bends>
                            <bends>
<x>-1979.433473911087</x>
<y>951.0275852077887</y>
                            </bends>
                            <destination>
<groupId>e447ab16-c235-3ae0-0000-000000000000</groupId>
<id>576a5af6-da8f-3214-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>nulls</selectedRelationships>
                            <source>
<groupId>e447ab16-c235-3ae0-0000-000000000000</groupId>
<id>c84d8026-d070-3e44-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>0d3a36e9-cccc-32e0-0000-000000000000</id>
                            <parentGroupId>e447ab16-c235-3ae0-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <bends>
<x>-1731.433473911087</x>
<y>-336.9724147922113</y>
                            </bends>
                            <destination>
<groupId>e447ab16-c235-3ae0-0000-000000000000</groupId>
<id>bebb1b8e-0486-3a4e-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>e447ab16-c235-3ae0-0000-000000000000</groupId>
<id>905e3faf-45bb-369f-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>35f15be3-f14f-3680-0000-000000000000</id>
                            <parentGroupId>e447ab16-c235-3ae0-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <bends>
<x>-1731.433473911087</x>
<y>-72.97241479221128</y>
                            </bends>
                            <destination>
<groupId>e447ab16-c235-3ae0-0000-000000000000</groupId>
<id>4753f3c1-0f69-3cfb-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>matched</selectedRelationships>
                            <source>
<groupId>e447ab16-c235-3ae0-0000-000000000000</groupId>
<id>f7a35948-5568-3440-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>3c84f3bb-1745-3ae3-0000-000000000000</id>
                            <parentGroupId>e447ab16-c235-3ae0-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <bends>
<x>-1723.433473911087</x>
<y>1151.0275852077887</y>
                            </bends>
                            <destination>
<groupId>e447ab16-c235-3ae0-0000-000000000000</groupId>
<id>aaaa91de-a3e1-3212-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>sql</selectedRelationships>
                            <source>
<groupId>e447ab16-c235-3ae0-0000-000000000000</groupId>
<id>819f1881-e1c1-35a9-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>3e312b64-5092-3966-0000-000000000000</id>
                            <parentGroupId>e447ab16-c235-3ae0-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <bends>
<x>-1723.433473911087</x>
<y>607.0275852077887</y>
                            </bends>
                            <destination>
<groupId>e447ab16-c235-3ae0-0000-000000000000</groupId>
<id>89aa7624-b225-37bb-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>unmatched</selectedRelationships>
                            <source>
<groupId>e447ab16-c235-3ae0-0000-000000000000</groupId>
<id>c84d8026-d070-3e44-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>70747bd9-5ae2-3b18-0000-000000000000</id>
                            <parentGroupId>e447ab16-c235-3ae0-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>e447ab16-c235-3ae0-0000-000000000000</groupId>
<id>1b626454-61e7-3d68-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>unmatched</selectedRelationships>
                            <source>
<groupId>e447ab16-c235-3ae0-0000-000000000000</groupId>
<id>4753f3c1-0f69-3cfb-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>729cc356-a3a1-321b-0000-000000000000</id>
                            <parentGroupId>e447ab16-c235-3ae0-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <bends>
<x>-1731.433473911087</x>
<y>199.02758520778872</y>
                            </bends>
                            <destination>
<groupId>e447ab16-c235-3ae0-0000-000000000000</groupId>
<id>9281e0a9-535f-34fa-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>split</selectedRelationships>
                            <source>
<groupId>e447ab16-c235-3ae0-0000-000000000000</groupId>
<id>41fe37db-7ff5-3559-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>820617c8-4577-37ea-0000-000000000000</id>
                            <parentGroupId>e447ab16-c235-3ae0-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <bends>
<x>-1731.433473911087</x>
<y>-208.97241479221128</y>
                            </bends>
                            <destination>
<groupId>e447ab16-c235-3ae0-0000-000000000000</groupId>
<id>f7a35948-5568-3440-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>Response</selectedRelationships>
                            <source>
<groupId>e447ab16-c235-3ae0-0000-000000000000</groupId>
<id>bebb1b8e-0486-3a4e-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>9cf45910-d45c-3e37-0000-000000000000</id>
                            <parentGroupId>e447ab16-c235-3ae0-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <bends>
<x>-699.433473911087</x>
<y>-272.9724147922113</y>
                            </bends>
                            <destination>
<groupId>e447ab16-c235-3ae0-0000-000000000000</groupId>
<id>bebb1b8e-0486-3a4e-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>e447ab16-c235-3ae0-0000-000000000000</groupId>
<id>1b626454-61e7-3d68-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>a0f0cb18-2556-300f-0000-000000000000</id>
                            <parentGroupId>e447ab16-c235-3ae0-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <bends>
<x>-1134.433473911087</x>
<y>1198.0275852077887</y>
                            </bends>
                            <bends>
<x>-1134.433473911087</x>
<y>1248.0275852077887</y>
                            </bends>
                            <destination>
<groupId>e447ab16-c235-3ae0-0000-000000000000</groupId>
<id>aaaa91de-a3e1-3212-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>retry</selectedRelationships>
                            <source>
<groupId>e447ab16-c235-3ae0-0000-000000000000</groupId>
<id>aaaa91de-a3e1-3212-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>b9b0170b-b77a-30ba-0000-000000000000</id>
                            <parentGroupId>e447ab16-c235-3ae0-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <bends>
<x>-1723.433473911087</x>
<y>471.0275852077887</y>
                            </bends>
                            <destination>
<groupId>e447ab16-c235-3ae0-0000-000000000000</groupId>
<id>c84d8026-d070-3e44-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>e447ab16-c235-3ae0-0000-000000000000</groupId>
<id>2658fad0-4f7f-3f5c-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>cec262f9-9b27-35d0-0000-000000000000</id>
                            <parentGroupId>e447ab16-c235-3ae0-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <bends>
<x>-1723.433473911087</x>
<y>63.02758520778872</y>
                            </bends>
                            <destination>
<groupId>e447ab16-c235-3ae0-0000-000000000000</groupId>
<id>41fe37db-7ff5-3559-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>notLast</selectedRelationships>
                            <selectedRelationships>unmatched</selectedRelationships>
                            <source>
<groupId>e447ab16-c235-3ae0-0000-000000000000</groupId>
<id>4753f3c1-0f69-3cfb-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>d4b4e779-ee00-37ee-0000-000000000000</id>
                            <parentGroupId>e447ab16-c235-3ae0-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <bends>
<x>-1731.433473911087</x>
<y>879.0275852077887</y>
                            </bends>
                            <destination>
<groupId>e447ab16-c235-3ae0-0000-000000000000</groupId>
<id>576a5af6-da8f-3214-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>matched</selectedRelationships>
                            <source>
<groupId>e447ab16-c235-3ae0-0000-000000000000</groupId>
<id>f8ed814c-0757-3fdd-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>f115b585-0209-3cba-0000-000000000000</id>
                            <parentGroupId>e447ab16-c235-3ae0-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <bends>
<x>-1723.433473911087</x>
<y>335.0275852077887</y>
                            </bends>
                            <destination>
<groupId>e447ab16-c235-3ae0-0000-000000000000</groupId>
<id>2658fad0-4f7f-3f5c-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>matched</selectedRelationships>
                            <source>
<groupId>e447ab16-c235-3ae0-0000-000000000000</groupId>
<id>9281e0a9-535f-34fa-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>f9e32ac8-8254-3df7-0000-000000000000</id>
                            <parentGroupId>e447ab16-c235-3ae0-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <bends>
<x>-1731.433473911087</x>
<y>1015.0275852077887</y>
                            </bends>
                            <destination>
<groupId>e447ab16-c235-3ae0-0000-000000000000</groupId>
<id>819f1881-e1c1-35a9-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>e447ab16-c235-3ae0-0000-000000000000</groupId>
<id>576a5af6-da8f-3214-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>fe2e44bc-3973-3756-0000-000000000000</id>
                            <parentGroupId>e447ab16-c235-3ae0-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <bends>
<x>-1718.433473911087</x>
<y>735.0275852077887</y>
                            </bends>
                            <destination>
<groupId>e447ab16-c235-3ae0-0000-000000000000</groupId>
<id>f8ed814c-0757-3fdd-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>split</selectedRelationships>
                            <source>
<groupId>e447ab16-c235-3ae0-0000-000000000000</groupId>
<id>89aa7624-b225-37bb-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <labels>
                            <id>03e75167-5322-31a8-0000-000000000000</id>
                            <parentGroupId>e447ab16-c235-3ae0-0000-000000000000</parentGroupId>
                            <position>
<x>-1107.433473911087</x>
<y>-152.97241479221128</y>
                            </position>
                            <height>48.0</height>
                            <label>Loop</label>
                            <style>
<entry>
    <key>font-size</key>
    <value>22px</value>
</entry>
                            </style>
                            <width>96.0</width>
                        </labels>
                        <labels>
                            <id>78b400cc-c879-3c73-0000-000000000000</id>
                            <parentGroupId>e447ab16-c235-3ae0-0000-000000000000</parentGroupId>
                            <position>
<x>-1059.433473911087</x>
<y>71.02758520778872</y>
                            </position>
                            <height>280.0</height>
                            <label># Original API Response
{
  "from": 1,
  "to": 100,
  "currentPage": 1,
  "total": 4447,
  "totalPages": 45,
  "queryTime": "0.236",
  "totalTime": "0.252",
  "partial": false,
  "canonicalUrl": "/v1/categories?show=id,name,subCategories.id,subCategories.name&amp;pageSize=100&amp;format=json&amp;apiKey=myApiKey",
  "categories": [
    {
      "id": "abcat0010000",
      "name": "Gift Ideas",
      "subCategories": [
        {
          "id": "pcmcat1496256957402",
          "name": "Top Tech Gifts"</label>
                            <style>
<entry>
    <key>font-size</key>
    <value>12px</value>
</entry>
                            </style>
                            <width>744.0</width>
                        </labels>
                        <labels>
                            <id>8460139a-890d-3603-0000-000000000000</id>
                            <parentGroupId>e447ab16-c235-3ae0-0000-000000000000</parentGroupId>
                            <position>
<x>-803.433473911087</x>
<y>359.0275852077887</y>
                            </position>
                            <height>256.0</height>
                            <label>{
  "subCategories" : [ {
    "id" : "pcmcat1496256957402",
    "name" : "Top Tech Gifts"
  }, {
    "id" : "pcmcat748301108075",
    "name" : "Stocking Stuffers"
  }, {
    "id" : "pcmcat1487279818011",
    "name" : "Mother's Day Gift Ideas"
  }, {
    "id" : "pcmcat1487867427335",
    "name" : "Father's Day Gift Ideas"
  }, {
    "id" : "pcmcat1487280226740",
    "name" : "Graduation Gift Ideas"
  }, {</label>
                            <style>
<entry>
    <key>font-size</key>
    <value>12px</value>
</entry>
                            </style>
                            <width>232.0</width>
                        </labels>
                        <labels>
                            <id>d161d119-400a-3356-0000-000000000000</id>
                            <parentGroupId>e447ab16-c235-3ae0-0000-000000000000</parentGroupId>
                            <position>
<x>-1059.433473911087</x>
<y>359.0275852077887</y>
                            </position>
                            <height>240.0</height>
                            <label># Result of splitting on categories
{
  "id" : "abcat0010000",
  "name" : "Gift Ideas",
  "subCategories" : [ {
    "id" : "pcmcat1496256957402",
    "name" : "Top Tech Gifts"
  }, {
    "id" : "pcmcat748301108075",
    "name" : "Stocking Stuffers"
  }, {
    "id" : "pcmcat1487279818011",
    "name" : "Mother's Day Gift Ideas"
  }, {
    "id" : "pcmcat1487867427335",
    "name" : "Father's Day Gift Ideas"</label>
                            <style>
<entry>
    <key>font-size</key>
    <value>12px</value>
</entry>
                            </style>
                            <width>240.0</width>
                        </labels>
                        <labels>
                            <id>e1efc0e4-ba35-3d7f-0000-000000000000</id>
                            <parentGroupId>e447ab16-c235-3ae0-0000-000000000000</parentGroupId>
                            <position>
<x>-763.433473911087</x>
<y>647.0275852077887</y>
                            </position>
                            <height>312.0</height>
                            <label>{
  "id" : "pcmcat194000050039",
  "name" : "Ice Cream &amp; Yogurt Makers",
  "subCategories" : [ {
    "id" : "pcmcat150900050000",
    "name" : "Ice Cream Makers"
  }, {
    "id" : "pcmcat311300050001",
    "name" : "Yogurt Makers"
  } ]
}

####
{
  "subCategories" : [ {
    "id" : "pcmcat150900050000",
    "name" : "Ice Cream Makers"
  }, {
    "id" : "pcmcat311300050001",
    "name" : "Yogurt Makers"
  } ]
}</label>
                            <style>
<entry>
    <key>font-size</key>
    <value>12px</value>
</entry>
                            </style>
                            <width>256.0</width>
                        </labels>
                        <labels>
                            <id>fe8edb3a-c655-38f4-0000-000000000000</id>
                            <parentGroupId>e447ab16-c235-3ae0-0000-000000000000</parentGroupId>
                            <position>
<x>-995.433473911087</x>
<y>647.0275852077887</y>
                            </position>
                            <height>224.0</height>
                            <label>{
  "id" : "abcat0515046",
  "name" : "Webcams",
  "subCategories" : [ {
    "id" : "pcmcat170900050018",
    "name" : "All Webcams"
  } ]
}
####

{
  "subCategories" : {
    "id" : "pcmcat170900050018",
    "name" : "All Webcams"
  }
}</label>
                            <style>
<entry>
    <key>font-size</key>
    <value>12px</value>
</entry>
                            </style>
                            <width>208.0</width>
                        </labels>
                        <processors>
                            <id>1b626454-61e7-3d68-0000-000000000000</id>
                            <parentGroupId>e447ab16-c235-3ae0-0000-000000000000</parentGroupId>
                            <position>
<x>-875.433473911087</x>
<y>-64.97241479221128</y>
                            </position>
                            <bundle>
<artifact>nifi-update-attribute-nar</artifact>
<group>org.apache.nifi</group>
<version>1.12.1</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Delete Attributes Expression</key>
        <value>
            <name>Delete Attributes Expression</name>
        </value>
    </entry>
    <entry>
        <key>Store State</key>
        <value>
            <name>Store State</name>
        </value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
        <value>
            <name>Stateful Variables Initial Value</name>
        </value>
    </entry>
    <entry>
        <key>canonical-value-lookup-cache-size</key>
        <value>
            <name>canonical-value-lookup-cache-size</name>
        </value>
    </entry>
    <entry>
        <key>currentPage</key>
        <value>
            <name>currentPage</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Delete Attributes Expression</key>
    </entry>
    <entry>
        <key>Store State</key>
        <value>Do not store state</value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
    </entry>
    <entry>
        <key>canonical-value-lookup-cache-size</key>
        <value>100</value>
    </entry>
    <entry>
        <key>currentPage</key>
        <value>${currentPage:plus(1)}</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>plusOneToCurrentPage</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                        </processors>
                        <processors>
                            <id>2658fad0-4f7f-3f5c-0000-000000000000</id>
                            <parentGroupId>e447ab16-c235-3ae0-0000-000000000000</parentGroupId>
                            <position>
<x>-1603.433473911087</x>
<y>343.0275852077887</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.12.1</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>jolt-transform</key>
        <value>
            <name>jolt-transform</name>
        </value>
    </entry>
    <entry>
        <key>jolt-custom-class</key>
        <value>
            <name>jolt-custom-class</name>
        </value>
    </entry>
    <entry>
        <key>jolt-custom-modules</key>
        <value>
            <name>jolt-custom-modules</name>
        </value>
    </entry>
    <entry>
        <key>jolt-spec</key>
        <value>
            <name>jolt-spec</name>
        </value>
    </entry>
    <entry>
        <key>Transform Cache Size</key>
        <value>
            <name>Transform Cache Size</name>
        </value>
    </entry>
    <entry>
        <key>pretty_print</key>
        <value>
            <name>pretty_print</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>jolt-transform</key>
        <value>jolt-transform-chain</value>
    </entry>
    <entry>
        <key>jolt-custom-class</key>
    </entry>
    <entry>
        <key>jolt-custom-modules</key>
    </entry>
    <entry>
        <key>jolt-spec</key>
        <value>[{
	"operation": "shift",
	"spec": {
		"subCategories": {
			"*": "subCategories.[]"
		}
	}
}]</value>
    </entry>
    <entry>
        <key>Transform Cache Size</key>
        <value>1</value>
    </entry>
    <entry>
        <key>pretty_print</key>
        <value>false</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>JoltTransformJSON</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.JoltTransformJSON</type>
                        </processors>
                        <processors>
                            <id>41fe37db-7ff5-3559-0000-000000000000</id>
                            <parentGroupId>e447ab16-c235-3ae0-0000-000000000000</parentGroupId>
                            <position>
<x>-1603.433473911087</x>
<y>71.02758520778872</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.12.1</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>JsonPath Expression</key>
        <value>
            <name>JsonPath Expression</name>
        </value>
    </entry>
    <entry>
        <key>Null Value Representation</key>
        <value>
            <name>Null Value Representation</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>JsonPath Expression</key>
        <value>categories</value>
    </entry>
    <entry>
        <key>Null Value Representation</key>
        <value>empty string</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>SplitJsonCategories</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>original</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>split</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.SplitJson</type>
                        </processors>
                        <processors>
                            <id>4753f3c1-0f69-3cfb-0000-000000000000</id>
                            <parentGroupId>e447ab16-c235-3ae0-0000-000000000000</parentGroupId>
                            <position>
<x>-1603.433473911087</x>
<y>-64.97241479221128</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.12.1</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Routing Strategy</key>
        <value>
            <name>Routing Strategy</name>
        </value>
    </entry>
    <entry>
        <key>notLast</key>
        <value>
            <name>notLast</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Routing Strategy</key>
        <value>Route to Property name</value>
    </entry>
    <entry>
        <key>notLast</key>
        <value>${currentPage:equals(${totalPages})}</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>loopIfNotEqualToTotalPage</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>notLast</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>unmatched</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.RouteOnAttribute</type>
                        </processors>
                        <processors>
                            <id>576a5af6-da8f-3214-0000-000000000000</id>
                            <parentGroupId>e447ab16-c235-3ae0-0000-000000000000</parentGroupId>
                            <position>
<x>-1603.433473911087</x>
<y>887.0275852077887</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.12.1</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Attributes List</key>
        <value>
            <name>Attributes List</name>
        </value>
    </entry>
    <entry>
        <key>attributes-to-json-regex</key>
        <value>
            <name>attributes-to-json-regex</name>
        </value>
    </entry>
    <entry>
        <key>Destination</key>
        <value>
            <name>Destination</name>
        </value>
    </entry>
    <entry>
        <key>Include Core Attributes</key>
        <value>
            <name>Include Core Attributes</name>
        </value>
    </entry>
    <entry>
        <key>Null Value</key>
        <value>
            <name>Null Value</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Attributes List</key>
        <value>categoriesId
, categoriesName
, subCategoriesId
, subCategoriesName</value>
    </entry>
    <entry>
        <key>attributes-to-json-regex</key>
    </entry>
    <entry>
        <key>Destination</key>
        <value>flowfile-content</value>
    </entry>
    <entry>
        <key>Include Core Attributes</key>
        <value>true</value>
    </entry>
    <entry>
        <key>Null Value</key>
        <value>false</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>AttributesToJSON</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.AttributesToJSON</type>
                        </processors>
                        <processors>
                            <id>819f1881-e1c1-35a9-0000-000000000000</id>
                            <parentGroupId>e447ab16-c235-3ae0-0000-000000000000</parentGroupId>
                            <position>
<x>-1603.433473911087</x>
<y>1023.0275852077887</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.12.1</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>JDBC Connection Pool</key>
        <value>
            <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
            <name>JDBC Connection Pool</name>
        </value>
    </entry>
    <entry>
        <key>Statement Type</key>
        <value>
            <name>Statement Type</name>
        </value>
    </entry>
    <entry>
        <key>Table Name</key>
        <value>
            <name>Table Name</name>
        </value>
    </entry>
    <entry>
        <key>Catalog Name</key>
        <value>
            <name>Catalog Name</name>
        </value>
    </entry>
    <entry>
        <key>Schema Name</key>
        <value>
            <name>Schema Name</name>
        </value>
    </entry>
    <entry>
        <key>Translate Field Names</key>
        <value>
            <name>Translate Field Names</name>
        </value>
    </entry>
    <entry>
        <key>Unmatched Field Behavior</key>
        <value>
            <name>Unmatched Field Behavior</name>
        </value>
    </entry>
    <entry>
        <key>Unmatched Column Behavior</key>
        <value>
            <name>Unmatched Column Behavior</name>
        </value>
    </entry>
    <entry>
        <key>Update Keys</key>
        <value>
            <name>Update Keys</name>
        </value>
    </entry>
    <entry>
        <key>jts-quoted-identifiers</key>
        <value>
            <name>jts-quoted-identifiers</name>
        </value>
    </entry>
    <entry>
        <key>jts-quoted-table-identifiers</key>
        <value>
            <name>jts-quoted-table-identifiers</name>
        </value>
    </entry>
    <entry>
        <key>jts-sql-param-attr-prefix</key>
        <value>
            <name>jts-sql-param-attr-prefix</name>
        </value>
    </entry>
    <entry>
        <key>table-schema-cache-size</key>
        <value>
            <name>table-schema-cache-size</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>JDBC Connection Pool</key>
        <value>c1aab93f-aeb2-33fe-0000-000000000000</value>
    </entry>
    <entry>
        <key>Statement Type</key>
        <value>INSERT</value>
    </entry>
    <entry>
        <key>Table Name</key>
        <value>bestbuyCategories</value>
    </entry>
    <entry>
        <key>Catalog Name</key>
        <value>bestbuy</value>
    </entry>
    <entry>
        <key>Schema Name</key>
    </entry>
    <entry>
        <key>Translate Field Names</key>
        <value>true</value>
    </entry>
    <entry>
        <key>Unmatched Field Behavior</key>
        <value>Ignore Unmatched Fields</value>
    </entry>
    <entry>
        <key>Unmatched Column Behavior</key>
        <value>Fail on Unmatched Columns</value>
    </entry>
    <entry>
        <key>Update Keys</key>
    </entry>
    <entry>
        <key>jts-quoted-identifiers</key>
        <value>false</value>
    </entry>
    <entry>
        <key>jts-quoted-table-identifiers</key>
        <value>false</value>
    </entry>
    <entry>
        <key>jts-sql-param-attr-prefix</key>
        <value>sql</value>
    </entry>
    <entry>
        <key>table-schema-cache-size</key>
        <value>100</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>ConvertJSONToSQL</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>original</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>sql</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.ConvertJSONToSQL</type>
                        </processors>
                        <processors>
                            <id>89aa7624-b225-37bb-0000-000000000000</id>
                            <parentGroupId>e447ab16-c235-3ae0-0000-000000000000</parentGroupId>
                            <position>
<x>-1603.433473911087</x>
<y>615.0275852077887</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.12.1</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>JsonPath Expression</key>
        <value>
            <name>JsonPath Expression</name>
        </value>
    </entry>
    <entry>
        <key>Null Value Representation</key>
        <value>
            <name>Null Value Representation</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>JsonPath Expression</key>
        <value>subCategories</value>
    </entry>
    <entry>
        <key>Null Value Representation</key>
        <value>empty string</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>splitJsonSubCategories</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>original</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>split</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.SplitJson</type>
                        </processors>
                        <processors>
                            <id>905e3faf-45bb-369f-0000-000000000000</id>
                            <parentGroupId>e447ab16-c235-3ae0-0000-000000000000</parentGroupId>
                            <position>
<x>-1603.433473911087</x>
<y>-472.9724147922113</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.12.1</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>File Size</key>
        <value>
            <name>File Size</name>
        </value>
    </entry>
    <entry>
        <key>Batch Size</key>
        <value>
            <name>Batch Size</name>
        </value>
    </entry>
    <entry>
        <key>Data Format</key>
        <value>
            <name>Data Format</name>
        </value>
    </entry>
    <entry>
        <key>Unique FlowFiles</key>
        <value>
            <name>Unique FlowFiles</name>
        </value>
    </entry>
    <entry>
        <key>generate-ff-custom-text</key>
        <value>
            <name>generate-ff-custom-text</name>
        </value>
    </entry>
    <entry>
        <key>character-set</key>
        <value>
            <name>character-set</name>
        </value>
    </entry>
    <entry>
        <key>mime-type</key>
        <value>
            <name>mime-type</name>
        </value>
    </entry>
    <entry>
        <key>currentPage</key>
        <value>
            <name>currentPage</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>File Size</key>
        <value>0B</value>
    </entry>
    <entry>
        <key>Batch Size</key>
        <value>1</value>
    </entry>
    <entry>
        <key>Data Format</key>
        <value>Text</value>
    </entry>
    <entry>
        <key>Unique FlowFiles</key>
        <value>false</value>
    </entry>
    <entry>
        <key>generate-ff-custom-text</key>
    </entry>
    <entry>
        <key>character-set</key>
        <value>UTF-8</value>
    </entry>
    <entry>
        <key>mime-type</key>
    </entry>
    <entry>
        <key>currentPage</key>
        <value>1</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>5 min</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>createFlowfileWithCurrentPage</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.GenerateFlowFile</type>
                        </processors>
                        <processors>
                            <id>9281e0a9-535f-34fa-0000-000000000000</id>
                            <parentGroupId>e447ab16-c235-3ae0-0000-000000000000</parentGroupId>
                            <position>
<x>-1603.433473911087</x>
<y>207.02758520778872</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.12.1</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Destination</key>
        <value>
            <name>Destination</name>
        </value>
    </entry>
    <entry>
        <key>Return Type</key>
        <value>
            <name>Return Type</name>
        </value>
    </entry>
    <entry>
        <key>Path Not Found Behavior</key>
        <value>
            <name>Path Not Found Behavior</name>
        </value>
    </entry>
    <entry>
        <key>Null Value Representation</key>
        <value>
            <name>Null Value Representation</name>
        </value>
    </entry>
    <entry>
        <key>categoriesId</key>
        <value>
            <name>categoriesId</name>
        </value>
    </entry>
    <entry>
        <key>categoriesName</key>
        <value>
            <name>categoriesName</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Destination</key>
        <value>flowfile-attribute</value>
    </entry>
    <entry>
        <key>Return Type</key>
        <value>auto-detect</value>
    </entry>
    <entry>
        <key>Path Not Found Behavior</key>
        <value>ignore</value>
    </entry>
    <entry>
        <key>Null Value Representation</key>
        <value>empty string</value>
    </entry>
    <entry>
        <key>categoriesId</key>
        <value>$.id</value>
    </entry>
    <entry>
        <key>categoriesName</key>
        <value>$.name</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>createCategoriesIdandNameAttributes</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>matched</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>unmatched</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
                        </processors>
                        <processors>
                            <id>aaaa91de-a3e1-3212-0000-000000000000</id>
                            <parentGroupId>e447ab16-c235-3ae0-0000-000000000000</parentGroupId>
                            <position>
<x>-1603.433473911087</x>
<y>1159.0275852077887</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.12.1</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>JDBC Connection Pool</key>
        <value>
            <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
            <name>JDBC Connection Pool</name>
        </value>
    </entry>
    <entry>
        <key>putsql-sql-statement</key>
        <value>
            <name>putsql-sql-statement</name>
        </value>
    </entry>
    <entry>
        <key>Support Fragmented Transactions</key>
        <value>
            <name>Support Fragmented Transactions</name>
        </value>
    </entry>
    <entry>
        <key>database-session-autocommit</key>
        <value>
            <name>database-session-autocommit</name>
        </value>
    </entry>
    <entry>
        <key>Transaction Timeout</key>
        <value>
            <name>Transaction Timeout</name>
        </value>
    </entry>
    <entry>
        <key>Batch Size</key>
        <value>
            <name>Batch Size</name>
        </value>
    </entry>
    <entry>
        <key>Obtain Generated Keys</key>
        <value>
            <name>Obtain Generated Keys</name>
        </value>
    </entry>
    <entry>
        <key>rollback-on-failure</key>
        <value>
            <name>rollback-on-failure</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>JDBC Connection Pool</key>
        <value>c1aab93f-aeb2-33fe-0000-000000000000</value>
    </entry>
    <entry>
        <key>putsql-sql-statement</key>
    </entry>
    <entry>
        <key>Support Fragmented Transactions</key>
        <value>true</value>
    </entry>
    <entry>
        <key>database-session-autocommit</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Transaction Timeout</key>
    </entry>
    <entry>
        <key>Batch Size</key>
        <value>100</value>
    </entry>
    <entry>
        <key>Obtain Generated Keys</key>
        <value>false</value>
    </entry>
    <entry>
        <key>rollback-on-failure</key>
        <value>false</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>PutSQL</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>retry</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>DISABLED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.PutSQL</type>
                        </processors>
                        <processors>
                            <id>bebb1b8e-0486-3a4e-0000-000000000000</id>
                            <parentGroupId>e447ab16-c235-3ae0-0000-000000000000</parentGroupId>
                            <position>
<x>-1606.2576110141633</x>
<y>-339.78400562874066</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.12.1</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>HTTP Method</key>
        <value>
            <name>HTTP Method</name>
        </value>
    </entry>
    <entry>
        <key>Remote URL</key>
        <value>
            <name>Remote URL</name>
        </value>
    </entry>
    <entry>
        <key>SSL Context Service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
            <name>SSL Context Service</name>
        </value>
    </entry>
    <entry>
        <key>Connection Timeout</key>
        <value>
            <name>Connection Timeout</name>
        </value>
    </entry>
    <entry>
        <key>Read Timeout</key>
        <value>
            <name>Read Timeout</name>
        </value>
    </entry>
    <entry>
        <key>idle-timeout</key>
        <value>
            <name>idle-timeout</name>
        </value>
    </entry>
    <entry>
        <key>max-idle-connections</key>
        <value>
            <name>max-idle-connections</name>
        </value>
    </entry>
    <entry>
        <key>Include Date Header</key>
        <value>
            <name>Include Date Header</name>
        </value>
    </entry>
    <entry>
        <key>Follow Redirects</key>
        <value>
            <name>Follow Redirects</name>
        </value>
    </entry>
    <entry>
        <key>Attributes to Send</key>
        <value>
            <name>Attributes to Send</name>
        </value>
    </entry>
    <entry>
        <key>Useragent</key>
        <value>
            <name>Useragent</name>
        </value>
    </entry>
    <entry>
        <key>Basic Authentication Username</key>
        <value>
            <name>Basic Authentication Username</name>
        </value>
    </entry>
    <entry>
        <key>Basic Authentication Password</key>
        <value>
            <name>Basic Authentication Password</name>
        </value>
    </entry>
    <entry>
        <key>proxy-configuration-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
            <name>proxy-configuration-service</name>
        </value>
    </entry>
    <entry>
        <key>Proxy Host</key>
        <value>
            <name>Proxy Host</name>
        </value>
    </entry>
    <entry>
        <key>Proxy Port</key>
        <value>
            <name>Proxy Port</name>
        </value>
    </entry>
    <entry>
        <key>Proxy Type</key>
        <value>
            <name>Proxy Type</name>
        </value>
    </entry>
    <entry>
        <key>invokehttp-proxy-user</key>
        <value>
            <name>invokehttp-proxy-user</name>
        </value>
    </entry>
    <entry>
        <key>invokehttp-proxy-password</key>
        <value>
            <name>invokehttp-proxy-password</name>
        </value>
    </entry>
    <entry>
        <key>Put Response Body In Attribute</key>
        <value>
            <name>Put Response Body In Attribute</name>
        </value>
    </entry>
    <entry>
        <key>Max Length To Put In Attribute</key>
        <value>
            <name>Max Length To Put In Attribute</name>
        </value>
    </entry>
    <entry>
        <key>Digest Authentication</key>
        <value>
            <name>Digest Authentication</name>
        </value>
    </entry>
    <entry>
        <key>Always Output Response</key>
        <value>
            <name>Always Output Response</name>
        </value>
    </entry>
    <entry>
        <key>Add Response Headers to Request</key>
        <value>
            <name>Add Response Headers to Request</name>
        </value>
    </entry>
    <entry>
        <key>Content-Type</key>
        <value>
            <name>Content-Type</name>
        </value>
    </entry>
    <entry>
        <key>send-message-body</key>
        <value>
            <name>send-message-body</name>
        </value>
    </entry>
    <entry>
        <key>Use Chunked Encoding</key>
        <value>
            <name>Use Chunked Encoding</name>
        </value>
    </entry>
    <entry>
        <key>Penalize on "No Retry"</key>
        <value>
            <name>Penalize on "No Retry"</name>
        </value>
    </entry>
    <entry>
        <key>use-etag</key>
        <value>
            <name>use-etag</name>
        </value>
    </entry>
    <entry>
        <key>etag-max-cache-size</key>
        <value>
            <name>etag-max-cache-size</name>
        </value>
    </entry>
    <entry>
        <key>ignore-response-content</key>
        <value>
            <name>ignore-response-content</name>
        </value>
    </entry>
    <entry>
        <key>form-body-form-name</key>
        <value>
            <name>form-body-form-name</name>
        </value>
    </entry>
    <entry>
        <key>set-form-filename</key>
        <value>
            <name>set-form-filename</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>HTTP Method</key>
        <value>GET</value>
    </entry>
    <entry>
        <key>Remote URL</key>
        <value>#{baseUrlCategories}#{format}&amp;#{apiKey}&amp;#{pageSize}&amp;show=id,name,subCategories.id,subCategories.name&amp;page=${currentPage}</value>
    </entry>
    <entry>
        <key>SSL Context Service</key>
    </entry>
    <entry>
        <key>Connection Timeout</key>
        <value>60 secs</value>
    </entry>
    <entry>
        <key>Read Timeout</key>
        <value>60 secs</value>
    </entry>
    <entry>
        <key>idle-timeout</key>
        <value>5 mins</value>
    </entry>
    <entry>
        <key>max-idle-connections</key>
        <value>5</value>
    </entry>
    <entry>
        <key>Include Date Header</key>
        <value>True</value>
    </entry>
    <entry>
        <key>Follow Redirects</key>
        <value>True</value>
    </entry>
    <entry>
        <key>Attributes to Send</key>
    </entry>
    <entry>
        <key>Useragent</key>
    </entry>
    <entry>
        <key>Basic Authentication Username</key>
    </entry>
    <entry>
        <key>Basic Authentication Password</key>
    </entry>
    <entry>
        <key>proxy-configuration-service</key>
    </entry>
    <entry>
        <key>Proxy Host</key>
    </entry>
    <entry>
        <key>Proxy Port</key>
    </entry>
    <entry>
        <key>Proxy Type</key>
        <value>http</value>
    </entry>
    <entry>
        <key>invokehttp-proxy-user</key>
    </entry>
    <entry>
        <key>invokehttp-proxy-password</key>
    </entry>
    <entry>
        <key>Put Response Body In Attribute</key>
    </entry>
    <entry>
        <key>Max Length To Put In Attribute</key>
        <value>256</value>
    </entry>
    <entry>
        <key>Digest Authentication</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Always Output Response</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Add Response Headers to Request</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Content-Type</key>
        <value>${mime.type}</value>
    </entry>
    <entry>
        <key>send-message-body</key>
        <value>true</value>
    </entry>
    <entry>
        <key>Use Chunked Encoding</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Penalize on "No Retry"</key>
        <value>false</value>
    </entry>
    <entry>
        <key>use-etag</key>
        <value>false</value>
    </entry>
    <entry>
        <key>etag-max-cache-size</key>
        <value>10MB</value>
    </entry>
    <entry>
        <key>ignore-response-content</key>
        <value>false</value>
    </entry>
    <entry>
        <key>form-body-form-name</key>
    </entry>
    <entry>
        <key>set-form-filename</key>
        <value>true</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>1 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>invokeCategoriesApi</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>Failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>No Retry</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>Original</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>Response</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>Retry</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.InvokeHTTP</type>
                        </processors>
                        <processors>
                            <id>c84d8026-d070-3e44-0000-000000000000</id>
                            <parentGroupId>e447ab16-c235-3ae0-0000-000000000000</parentGroupId>
                            <position>
<x>-1603.433473911087</x>
<y>479.0275852077887</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.12.1</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Match Requirement</key>
        <value>
            <name>Match Requirement</name>
        </value>
    </entry>
    <entry>
        <key>Character Set</key>
        <value>
            <name>Character Set</name>
        </value>
    </entry>
    <entry>
        <key>Content Buffer Size</key>
        <value>
            <name>Content Buffer Size</name>
        </value>
    </entry>
    <entry>
        <key>nulls</key>
        <value>
            <name>nulls</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Match Requirement</key>
        <value>content must match exactly</value>
    </entry>
    <entry>
        <key>Character Set</key>
        <value>UTF-8</value>
    </entry>
    <entry>
        <key>Content Buffer Size</key>
        <value>1 MB</value>
    </entry>
    <entry>
        <key>nulls</key>
        <value>null</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>routeOnNulls</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>nulls</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>unmatched</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.RouteOnContent</type>
                        </processors>
                        <processors>
                            <id>f7a35948-5568-3440-0000-000000000000</id>
                            <parentGroupId>e447ab16-c235-3ae0-0000-000000000000</parentGroupId>
                            <position>
<x>-1603.433473911087</x>
<y>-200.97241479221128</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.12.1</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Destination</key>
        <value>
            <name>Destination</name>
        </value>
    </entry>
    <entry>
        <key>Return Type</key>
        <value>
            <name>Return Type</name>
        </value>
    </entry>
    <entry>
        <key>Path Not Found Behavior</key>
        <value>
            <name>Path Not Found Behavior</name>
        </value>
    </entry>
    <entry>
        <key>Null Value Representation</key>
        <value>
            <name>Null Value Representation</name>
        </value>
    </entry>
    <entry>
        <key>currentPage</key>
        <value>
            <name>currentPage</name>
        </value>
    </entry>
    <entry>
        <key>totalPages</key>
        <value>
            <name>totalPages</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Destination</key>
        <value>flowfile-attribute</value>
    </entry>
    <entry>
        <key>Return Type</key>
        <value>auto-detect</value>
    </entry>
    <entry>
        <key>Path Not Found Behavior</key>
        <value>ignore</value>
    </entry>
    <entry>
        <key>Null Value Representation</key>
        <value>empty string</value>
    </entry>
    <entry>
        <key>currentPage</key>
        <value>$.currentPage</value>
    </entry>
    <entry>
        <key>totalPages</key>
        <value>$.totalPages</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>createCurrentPageAndTotalPageAttributes</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>matched</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>unmatched</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
                        </processors>
                        <processors>
                            <id>f8ed814c-0757-3fdd-0000-000000000000</id>
                            <parentGroupId>e447ab16-c235-3ae0-0000-000000000000</parentGroupId>
                            <position>
<x>-1603.433473911087</x>
<y>751.0275852077887</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.12.1</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Destination</key>
        <value>
            <name>Destination</name>
        </value>
    </entry>
    <entry>
        <key>Return Type</key>
        <value>
            <name>Return Type</name>
        </value>
    </entry>
    <entry>
        <key>Path Not Found Behavior</key>
        <value>
            <name>Path Not Found Behavior</name>
        </value>
    </entry>
    <entry>
        <key>Null Value Representation</key>
        <value>
            <name>Null Value Representation</name>
        </value>
    </entry>
    <entry>
        <key>subCategoriesId</key>
        <value>
            <name>subCategoriesId</name>
        </value>
    </entry>
    <entry>
        <key>subCategoriesName</key>
        <value>
            <name>subCategoriesName</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Destination</key>
        <value>flowfile-attribute</value>
    </entry>
    <entry>
        <key>Return Type</key>
        <value>auto-detect</value>
    </entry>
    <entry>
        <key>Path Not Found Behavior</key>
        <value>ignore</value>
    </entry>
    <entry>
        <key>Null Value Representation</key>
        <value>empty string</value>
    </entry>
    <entry>
        <key>subCategoriesId</key>
        <value>$.id</value>
    </entry>
    <entry>
        <key>subCategoriesName</key>
        <value>$.name</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>createSubCategoriesAttributes</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>matched</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>unmatched</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
                        </processors>
                    </contents>
                    <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
                    <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
                    <name>Categories and SubCategories</name>
                    <variables/>
                </processGroups>
            </contents>
            <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
            <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
            <name>Best Buy Dataflow</name>
            <variables/>
        </processGroups>
    </snippet>
    <timestamp>12/24/2020 21:35:26 UTC</timestamp>
</template>
